# .env.example
# Copie este arquivo para .env e preencha com seus valores

GIT_TOKEN=seu_token_github_aqui
BRANCH=main
BRANCH_JAVA_BACKEND=WO
BRANCH_JAVA_SISTEMA=wo-patricia-config
BRANCH_NODE=WO

# URLs Docker
URL=http://gcomp-backend-java:8080/service/
URL_NODE=http://gcomp-backend-node:3003/api/
ENVIRONMENT=DOCKER

# URLs Local
URL_LOCAL=http://localhost:8080/wsgcomp/service/
URL_NODE_LOCAL=http://localhost:3000/api/

# URLs Produção
URL_PROD=https://api.java.servidor.gerenciadorcompeticoes.com.br/service/
URL_NODE_PROD=https://api.gerenciadorcompeticoes.com.br/api/
